.navimg {
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  height: 55px;
}

.navbar .navbar-nav .nav-link:active {
  color: red;
}

.navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover {
  background-color: gray;
  color: goldenrod;
}
.nav-item {
  padding: 0px 5px;
}
.btn-rd {
  border-radius: 100%;
  margin-top: 20%;
  height: 90px;
  width: 100px;
  background-color: rgb(255, 149, 0);
}
.nav-login {
  position: absolute;
  right: 10px;
  top: 10px;
}
.nav-NavLink.active {
  background-color: rgb(230, 175, 26);
  color: black;
}
.nav-NavLink {
  text-decoration: none;
  color: white;
  padding: 10px 5px;
  border-radius: 6px;
}
.nav-NavLink:hover {
  color: rgb(143, 143, 143);
}
