body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #34485e; */
}

.loginBox {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 10px;
}

.loginBox h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

/* .loginHeading {
    color: blue;
    text-transform: uppercase;
    font-weight: 600;
} */

.loginBox input[type="number"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.loginBox input[type="number"]:focus{
    width: 260px;
    border-color: #2ecc71;
}

.loginBox input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.loginBox .loginBtn {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.loginBox .loginBtn:hover {
    background: #2ecc71;
}
.loginBox input::-webkit-outer-spin-button,
.loginBox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* .loginBox input[type=number] {
  -moz-appearance: textfield;
} */