body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #34485e; */
}

.loginBox {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
}

.loginBox h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
.loginBox input[type="number"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid aqua;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.loginBox input[type="number"]:focus{
    width: 260px;
    border-color: rgb(230, 175, 26);
}

.loginBox input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(230, 175, 26);
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.loginBox .loginBtn ,.loginBox .cancelBtn{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.loginBox .loginBtn{
    border: 2px solid rgb(230, 175, 26);
}
.loginBox .cancelBtn{
    border: 2px solid aqua;
}

.loginBox .loginBtn:hover {
    background: linear-gradient(90deg, #ae7f00, #f0c95f);
    color: black;
}
.loginBox .cancelBtn:hover {
    background: linear-gradient(90deg, #386a6a, aqua);
    color: black;
}
.loginBox input::-webkit-outer-spin-button,
.loginBox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
